.button {
    width: 300px;
    height: 300px;
    background-color: lightblue;
    margin: 200px 0 0 125px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    font-size: x-large;
}


.button1 {
    width: 300px;
    height: 300px;
    background-color: rgb(129, 175, 56);
    margin: 200px 0 0 125px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    font-size: x-large;
}

.button2 {
    width: 300px;
    height: 300px;
    background-color: rgb(159, 121, 194);
    margin: 200px 0 0 125px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    font-size: x-large;
}

.exdiv {
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 8px solid #f8c7c7;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
    margin-bottom: 15px;
    font-size: 1.5rem;
  }
  
  p {
    color: #555;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  code {
    display: block;
    background-color: #2d2e2c;
    color: #f8f8f2;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    white-space: pre;
    margin-top: 10px;
  }